 :root {
    --primery-text-color: #434455;
    --text-logo-base-btn-hero: #4D5AE5;
    --text-logo-header:#2E2F42;
    --clr-base: #FFFFFF;
    --clr-logoftr-base-team: #F4F4FD;
    --text-footer: #E7E9FC;
    --border-header-cards: #E7E9FC;
    --clr-txt-hdr-list: #2E2F42;
    --clr-txt-address: #434455;
    --hero-color: #FFFFFF;
    --clr-btn-hero-h-f:  #404BBF;
    --clr-base-hero-ftr: #2E2F42;
    --clr-txt-sec-title: #2E2F42;
    --clr-header-h-f: #404BBF;
    --filters-btn-base: #F4F4FD;
    --filters-btn-border: #E7E9FC;
}
html {
    box-sizing: border-box;
}
*,
*::before,
*::after {
    box-sizing: inherit;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
}
body {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    color: var(--primery-text-color);
}
img {
    display: block;
    max-width: 100%;
    height: auto;
}
/* Контейнер (outline) */
.container {
    margin: 0 auto;
    max-width: 1158px;
    padding: 0 15px;
}
.list-ul {
    list-style-type: none;
}
/* Шапка */
.page-header {
    background-color: var(--clr-base);
    border-bottom: 1px solid var(--border-header-cards); 
}
.page-header > .container {
    display: flex;
  }
.page-nav {
    display: flex;
}
.hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}
/* logo */
.logo {
    display: inline-block;
    font-family: 'Raleway';
    font-weight: 800;
    font-size: 18px;
    line-height: 1.333;
    padding: 24px 0;
    text-transform: uppercase;
    text-decoration: none;
    color: var(--text-logo-base-btn-hero);
}
/* logo  хедер Studio*/
.logo-header {
    color: var(--text-logo-header);
}
/* logo футер  Studio*/
.logo-footer {
    color: var(--clr-logoftr-base-team);
}
/* хедер-список */
.site-nav {
    display: flex;
    margin-left: 76px;
}
.nav-item:not(:first-child), .addr-item:not(:first-child) {
    margin-left: 40px;
}
.site-nav .link {
    display: block;
    padding: 24px 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: var(--clr-txt-hdr-list);
}
.site-nav .link:hover, .site-nav .link:focus {
    color: var(--clr-header-h-f);
}
.site-nav .current {
    color: var(--clr-header-h-f)
}
/* хедер-адреса */
address {
    margin-left: auto;
}
.page-contacts {
    display: flex;
}
.page-contacts .link {
    display: inline-block;
    padding: 24px 0;
    min-height: 24px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    font-style: normal;
    text-decoration: none;
    color: var(--clr-txt-address);
}
.page-contacts .link:hover, .page-contacts .link:focus
{
    color: var(--clr-header-h-f);
}
/* Герой */
.hero {
    background-color: var(--clr-base-hero-ftr);
    padding-top: 188px;
    padding-bottom: 188px;
    text-align: center;
}
.hero-title {
    margin: 0 auto 48px;
    text-align: center;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.071;
    letter-spacing: 0.02em;
    max-width: 496px;
    color: var(--hero-color);
}
.hero-btn {
    padding: 16px 32px;
    margin: 0 auto 0;
    font-family: inherit;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--hero-color);
    background-color: var(--text-logo-base-btn-hero);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
    outline: none;
    cursor: pointer;
}
.hero-btn:hover, .hero-btn:focus {
    color: var(--hero-color);
    background-color: var(--clr-btn-hero-h-f);
}           
/* Секция 1 Feature */
.feature {
    padding-top: 120px;
    padding-bottom: 120px;
}
.feature-ul {
    display: flex;
}
.feature-list {
    flex-basis: calc((100% - 3 * 24px) / 4);
}
.feature-list:not(:last-child) {
    margin-right: 24px;
}
.feature-list-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--clr-txt-sec-title);
}
.feature-list-text {
    margin-top: 8px;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--primery-text-color);
}
/* Секция 2 Working */
.work {
    padding-bottom: 120px;
}
.work-ul {
    display: flex;
}
.work-title {
    padding-top: 0;
    margin-bottom: 72px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.111;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: var(--clr-txt-sec-title);
}
.work-item {
    margin-right: 24px;
}
.work-item:nth-child(3) {
    margin-right: 0; 
}
/* Секция 3 Team */
.team {
    padding-top: 120px;
    padding-bottom: 120px;
    background-color: var(--clr-logoftr-base-team);
}
.team-ul {
    display: flex;
}
.team-list {
    margin-right: 24px;
    flex-basis: calc((100% - 3 * 24px) / 4);
    background-color: var(--clr-logoftr-base-team);
}
.team-list:nth-child(4) {
    margin-right: 0;
}
.team-card-prof {
    display: block;
    text-align: center;
    padding: 32px 16px;
}
.team-name {
    margin-bottom: 72px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.111;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: var(--clr-txt-sec-title);
}
.team-list-title {
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--clr-txt-sec-title);
}
.team-list-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--primery-text-color);
}
/* ФУТЕР */
.basement {
    background-color: var(--clr-base-hero-ftr);
    padding-top: 100px;
    padding-bottom: 100px;
}
.text-footer {
    margin-top: 16px;
    max-width: 264px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--text-footer);
}
.logo-basement {
    display: inline-block;
    font-family: 'Raleway';
    font-weight: 800;
    font-size: 18px;
    line-height: 1.333;
    text-transform: uppercase;
    text-decoration: none;
    color: var(--text-logo-base-btn-hero);
}
/* ПОРТФОЛІО */
/* Filters */
.filters-cards {
    padding-top: 96px;
    padding-bottom: 120px;
}
.filters-list {
    display: flex;
    justify-content: center;
    margin-bottom: 72px;
}
.filters-item {
    margin-right: 24px;
}
.filters-item:nth-child(5) {
    margin-right: 0;
}
.filters-btn {
    padding: 12px 24px;
    font-family: inherit;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--text-logo-base-btn-hero);
    background: var(--filters-btn-base);
    border: 1px solid var(--filters-btn-border);
    border-radius: 4px;
    cursor: pointer;
}
.filters-btn:hover, .filters-btn:focus {
    background: var(--clr-btn-hero-h-f);
    color: var(--clr-base);
}
.filters-list .current {
    background: var(--clr-btn-hero-h-f);
    color: var(--clr-base);
}
 /* Cards */
.cards-list {
    display: flex;
    flex-wrap: wrap;
    margin-right: -24px;
    margin-bottom: -48px;
    background-color: var(--clr-base);
}
.card {
    margin-right: 24px;
    margin-bottom: 48px;
}
.cards-item {
    text-decoration: none;
}
.card-about {
    display: block;
    padding: 32px 16px; 
    text-align: left;
    border-left: 1px solid var(--border-header-cards);
    border-bottom: 1px solid var(--border-header-cards);
    border-right: 1px solid var(--border-header-cards);
    
}
.cards-list-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--clr-txt-sec-title) 
}
.cards-list-text {
    margin-top: 8px;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--primery-text-color);
}
